{
  "presets": ["es2015"],
  "env": {
    "commonjs": {
      "presets": ["es2015"]
    },
    "es": {
      "presets": ["es2015"]
    },
    "es6": {
      "presets": ["es2016"]
    }
},
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
